@charset "utf-8";

body { font-family: 'OTWelcomeRA',sans-serif; color: #000; line-height: 1.5; font-size: 1.6rem; }

.clearfix {content: ''; clear: both; display: block; }

.inner { max-width: calc(100% - 12.611%); margin: 0 auto; }
.inner_s { max-width: calc(100% - 25.223%); margin: 0 auto; }
.inner_100 { max-width: 100%; margin: 0 auto; }
.text_r { text-align: right; }

#wrap { overflow: hidden; }

section { padding: 150px 0; }
#main .link_box { color: #fff; font-size: 2rem; padding: 15px 30px 10px; display: inline-block; background: #000;}

.depth_title { font-size: 2rem; font-weight: 700; padding-top: 20px; }
.more { position: absolute; right: 0; bottom: 0; display: inline-block; padding: 4px 10px 0; border: 1px solid #000; font-size: 1rem; }

@media(max-width: 1024px){
    #main .link_box { font-size: 1.6rem; padding: 10px 30px 5px; }
}





/* haeder */
#header { font-family: 'SEBANG_Gothic_Regular', sans-serif; padding: 19px 0; position: relative; z-index: 99; }
#header .inner { display: flex; justify-content: space-between;  align-items: center; text-align: center; height: 42px; position: relative; z-index: 9; }
#header .inner img { display: block; }
#header .gnb { font-size: 2rem; }
#header .gnb > li { float: left; display: block; padding: 7px 50px 10px; font-weight: 200; transition: color 0.5s; }
#header .gnb > li:hover { color: #B24141; }
#header .gnb > li h3 { color: #000; }

#header .util li { float: left; font-size: 1.6rem;}
#header .util li a { display: block; padding: 10px; color: #999; }


#header .gnb > li > .depth2 { position: absolute; z-index: 5; top: 61px; left: 0; padding: 50px 12.086% 0 24.172%; display: flex; justify-content: space-between; height: 600px; width: 100%; background: #fff; height: 600px; box-shadow: inset 0 0 15px -5px rgba(0,0,0,0.1); }

#header .gnb > li > .depth2 > div { position: absolute; left: 0; width: 15.764%; height: 400px; }
#header .gnb > li:nth-of-type(1) > .depth2 > div { background: url('../img/main/travel/korea/gyeongju/gyeongju_main.jpg') no-repeat center center; background-size: cover; }
#header .gnb > li:nth-of-type(2) > .depth2 > div { background: url('../img/main/travel/asia/tokyo/tokyo_main.jpg') no-repeat center center; background-size: cover;}
#header .gnb > li:nth-of-type(3) > .depth2 > div { background: url('../img/main/homes1.jpg') no-repeat center center; background-size: cover;}
#header .gnb > li:nth-of-type(4) > .depth2 > div { background: url('../img/main/gnb_traffic.jpg') no-repeat center center; background-size: cover;}
#header .gnb > li:nth-of-type(5) > .depth2 > div { background: url('../img/main/homes2.jpg') no-repeat center center; background-size: cover;}

#header .gnb > li > .depth2 h3 { font-size: 1.8rem; }
#header .gnb > li > .depth2 li a { font-size: 1.5rem; color: #999; transition: color 0.5s; }
#header .gnb > li > .depth2 li a:hover { color: #000; }



/* 모바일메뉴 */
#header .mb_ham { display: none; cursor: pointer; }
#header .mb_ham img { display: block; }

/* #wrap .mgnb:after { content: ''; display: block; clear: both; position: absolute; width: 40%; height: 100%; left: 0; top: 0; background: rgba(0,0,0,0.9); } */
#header .mgnb_wrap {overflow-y: auto; z-index: 999; width: 60%; height: 100%; position: fixed; right: -100%; top: 0; background: #fff; }
#header .mgnb { position: absolute; padding: 100px 40px; right: 0; width: 100%; }
#header .mgnb .mgnb_util { border-bottom: 1px solid #000; border-top: 1px solid #000; }
#header .mgnb .mgnb_util ul { display: flex; justify-content: space-between; }
#header .mgnb .mgnb_util ul li a { display: block; color: #999; font-size: 1.5rem; padding: 20px; font-weight: 400; }
#header .mgnb li h3 { font-size: 1.6rem; font-weight: 700; }
#header .mgnb li a { font-size: 1.5rem; }
#header .mgnb .mgnb_list { padding: 40px 0; }
#header .mgnb .mgnb_list > li { font-size: 2rem; font-weight: 700; padding: 20px 0; cursor: pointer; }
#header .mgnb .mgnb_list li ul { padding: 20px; }
#header .mgnb .mgnb_list li ul h3 { font-size: 1.6rem; font-weight: 700; }
#header .mgnb .mgnb_list li ul li { font-weight: 400; }
#header .mgnb .mgnb_list li ul li a { color: #999; }
#header .mgnb .mgnb_close {position: relative; position: absolute; right:20px; top: 20px; cursor: pointer; width: 50px; height: 50px; }
#header .mgnb .mgnb_close:before { position: absolute; content: ''; display: block; clear: both; background: #000; width: 2px; height: 40px; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(45deg); }
#header .mgnb .mgnb_close:after { position: absolute; content: ''; display: block; clear: both; background: #000; width: 2px; height: 40px; left: 50%; top: 50%; transform: translate(-50%,-50%) rotate(-45deg); }


@media(max-width:1400px){
    #header .gnb > li { padding: 7px 40px 10px; }
    #header .util li { font-size: 1.5rem;}
    #header .gnb > li > .depth2 > div { height: 350px; }
    #header .gnb > li > .depth2 li a { font-size: 1.4rem; }
}

@media(max-width:1200px){
    #header .gnb > li { padding: 7px 20px 10px; }
    #header .gnb { font-size: 1.8rem; }
    #header .util li { font-size: 1.4rem;}
    #header .gnb > li > .depth2 > div { height: 300px; }
    #header .gnb > li > .depth2 li a { font-size: 1.3rem; }
}

@media(max-width:1024px){
    #header .gnb { display: none; }
    #header .util li { display: none; }
    #header .mb_ham {display: block;}
    #header .inner { height: 35px;}
    #header h1 img { transform: scale(0.8,0.8); }
    #header { padding: 10px 0;}
    #header .gnb > li > .depth2 > div { height: 250px; }
    #header .gnb > li > .depth2 li a { font-size: 1.2rem; }
}


/* depth2_bg */
#header .depth2_bg { background: #fff; height: 600px; position: absolute; top: 80px; z-index: 5; width: 100%; box-shadow: inset 0 0 15px -5px rgba(0,0,0,0.1);}




#main section h2 { font-family: 'SEBANG_Gothic_Bold',sans-serif; font-size: 5.5rem; padding-bottom: 20px; letter-spacing: -1px;}




#footer { border-top: #000 1px solid; }
#footer .inner { padding: 55px 20.493%; text-align: center; font-size: 1.8rem; color: #9C6679; }
#footer .inner .footer_top { display: flex; justify-content: space-between; flex-wrap: wrap; }
#footer .inner .footer_top .footer_logo img { display: block; }
#footer .inner .footer_top ul { display: flex; justify-content: space-between; }
#footer .inner .footer_top ul li { padding: 10px 40px 0; }
#footer .inner .footer_top ul li a { color: #9C6679; }

#footer .inner p { padding: 35px 0;}

#footer .inner .partner_logo { display: flex; justify-content: space-between; flex-wrap: wrap; }
#footer .inner .partner_logo img { display: block; }


@media(max-width:1800px){
    #footer .inner { padding: 55px 100px; }
    #footer .inner .footer_top ul { width: 100%; }
    #footer .inner .footer_top { justify-content: center; }
    #footer .inner .footer_top ul li a { color: #9C6679; }
    #footer .inner .footer_top .footer_logo img { display: block; padding-bottom: 20px; }
}

@media(max-width:1200px){
    #footer .inner { padding: 55px 50px; }
    #footer .inner .footer_top ul li a { color: #9C6679; font-size: 1.5rem; }
    #footer .inner p { font-size: 1.5rem; }
    #footer .inner .partner_logo img { transform: scale(0.7,0.7); }
    #footer .inner .footer_top ul li { padding: 10px 0 0; }
}

@media(max-width:1024px){
    #footer .inner { padding: 55px 0  100px; }
    #footer .inner .partner_logo li { width: calc(100%/3); }
}


#wrap .mb_quick { display: none; }
#wrap .mb_quick .inner { max-width: calc(100% - 100px); }
#wrap .mb_quick .quick_icon { height: 65px; width: 100%; display: flex; justify-content: space-around; position: fixed; left: 0; bottom: 0; z-index: 9999; background: #fff; border-top: 1px solid #000; align-items: center; }
#wrap .mb_quick .quick_icon img { display: block; }

@media(max-width:1024px){
    #wrap .mb_quick {display: block;}
}